POSTGRES_URL="postgres://postgres.fcjbbnjphpcxlgeaelhu:i0T3IlYLBgY0kCQn@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
PORT="4000"
CLIENT_ORIGIN="http://localhost:3000"
API_SECRET_KEY="replace_me"